
body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  background-color: #ffffe0;
  min-height: 95vh;
}

h2 {
  color: #423e4e;
  margin-left: 35px;
}
p {
  margin: 2px;
}

button {
  background-color: #052325;
  border: none;
  color: white;
  font-size: 1em;
}

.pre-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #052325;
  height: 3em;
  padding-right: 1em;
}

.username {
  color: #017cba;
  padding: 0em .5em 0em 0.5em;
}

.down-toggle {
  margin-top: .25em;
  height: .95em;
}

.main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;
  background-color: #052325;
  color: white;
  margin-bottom: 25px;
}

.nav-menu {
  display: flex;
  flex: 4;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 20px;
}

.icon {
  padding: 0px 15px 0px 0px;
}

.nav-logo{
  flex: 1;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 1fr 1fr;
  row-gap: 15px;
  column-gap: 0px;
  margin: 30px 25px 0px 25px;
}

.nalle-container {
  display: float;
  max-height: 300px;
  width: 92%;
  border: solid .25px #8e94a3;
  background-color: #ffffff;
  color:#696969;
  box-shadow: 6px 6px 10px #8e94a3;
  border-radius: 2px;
  font-size: 1.15em;
  max-height: 100%;
}

.share-img, .calendar-img, .video-img{
  padding: 0px 10px 0px 0px;
}

.logo-img {
  float: right;
  padding-right: 20px;
  margin-bottom: 25px;
}

.nalle-header {
  display: grid;
  position: relative;
  max-width: 100%;
}

.nalle-img {
    max-width: 100%;
    opacity: 0.85;
}

.forward-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 8px;
  background-color: white;
  border-radius: 50%;
}

.views, .num-views {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 0.60em;
}

.num-views {
  top: 25px;
  right: 12px;
  color: white;
  font-size: 1.4em;
}
.nalle-details {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 20px ;
  margin-top: 0px;
}

.nalle-type {
  font-weight: bold;
  text-shadow: 1px 1px #c9c9c9;
}

.time {
  font-size: .78em;
  color: #aaaaaa;
  margin-bottom: 10px;
}

.url {
  background-color: #ffffe0;
  font-size: 0.68em;
  font-weight: bold;
  color: #778899;
  width: 90%;
  overflow-wrap: break-word;
  padding: 8px 6px 10px 4px;
  margin-bottom: 10px;
}

.schedule, .attachments {
  font-size: 0.68em;
  font-weight: bold;
  margin-bottom: 0px;
}

.schedule-mood {
  font-size: 1em;
  margin: 0px 0px 10px 2px;
}

.attachments-num {
  color: #00c5e1;
  font-size: 1.35em;
  margin: 0px 0px 10px 2px;
}
